<ion-view ng-controller="locationDetailsCtrl as vm">
    <ion-content class="has-header">

        <div class="card" ng-show="!vm.event.validFromDate && !vm.isBooked">
            <div class="item item-toggle" ng-click="vm.bookEvent(vm.following)">
                <h2>{{vm.following ? "Booked" : "Haven't booked yet"}}</h2>
                <label class="toggle">
                    <input type="checkbox" ng-model="vm.following"> 
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider item-energized" ng-show="!vm.event.validFromDate">Event Details</div>
            <div class="item item-divider item-energized" ng-show="vm.event.validFromDate">Special Details</div>
            <div class="item">{{vm.event.name}}</div>
            <div class="item">{{vm.event.description}}</div>
            <div ng-show="!vm.event.validFromDate" class="item">{{vm.event.date}}</div>
            <div ng-show="!vm.event.validFromDate" class="item">{{vm.event.amountInToken}}</div>
        </div>

        <div class="card">
            <div class="item item-divider">Location Detail</div>
            <div class="item">{{vm.event.business.businessName}}</div>
            <div class="item">{{vm.event.business.businessLocation}}</div>
            <div class="item">{{vm.event.business.businessContactNumber}}</div>
        </div>

    </ion-content>
</ion-view>