<ion-view title="Speciall" ng-controller="specialHomeCtr as vm">
    <ion-content class="has-header">
        <div class="list">
            <!-- <div class="item item-button-right" ng-repeat="special in vm.specials" ng-click="vm.eventLocation(event)"> -->
            <a class="item item-icon-right" ng-repeat="special in vm.specials" ng-click="vm.specialLocation(special)">

                <div class="row">
                    <div class="col-40">
                        <p>{{special.validFromDate}}</p>
                        <p>{{special.validFromDate}}</p>
                    </div>
                    <div class="col col-center">
                        <h2 class="positive">{{special.name}}</h2>
                    </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>

        </div>
        </div>
    </ion-content>
</ion-view>