<ion-view  view-title="Account" id="tour-view" ng-controller="homeCtrl as vm">
<ion-slide-box show-pager="true">
	<ion-slide>
	<!-- <a href="https://www.plus.google.com"> -->
	<span class="icon icon-slide ion-social-googleplus"></span>
    <h3>Google+</h3>
</a>
</ion-slide>

	<ion-slide>
	<!-- <a href="https://www.facebook.com"> -->
	<span class="icon icon-slide ion-social-facebook"></span>
    <h3>Facebook</h3>
</a>
	</ion-slide>

	<ion-slide>
	<!-- <a href="https://www.twitter.com"> -->
	<span class="icon icon-slide ion-social-twitter"></span>
    <h3>Twitter</h3>
</a>
	</ion-slide>
	
</ion-slide-box>
</ion-view>

<style>

#tour-view .slider{
height: 100%;
}
#tour-view .slider-slide{
padding-top: 100px;
text-align: center
}

#tour-view .icon-slide{
font-size: 20em;
display: inline-block;
}
a{
text-decoration: none
}

</style>
